# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/old/*.aux
/old/*.log
/old/*.out
/old/*.pdf
*.synctex.gz
.project
.buildpath
config/config.php
/hiddenAPIKey.php
old/hiddenAPIKey.php
/parameter.tex
/.fuse*
*.idea
/logs/*
*.settings
*.directory
